<div class="card" *ngIf="!viewcart">

  <ng-container *ngIf="enableShimmers">
    <div class="border-round border-1 surface-border p-4 surface-card">
      <ul class="m-0 p-0 list-none">

        <li class="mb-3" *ngFor="let shimmer of [].constructor(8)">
          <div class="card flex">
            <!-- <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton> -->
            <div style="flex: 1">
              <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
              <p-skeleton width="75%"></p-skeleton>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ng-container>


  <ng-container *ngIf="!enableShimmers">
    <p-dataView #dv [value]="products" [layout]="viewType" [sortField]="sortField" [sortOrder]="sortOrder">
      <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
            (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>

          <p-dataViewLayoutOptions [layout]="layout"></p-dataViewLayoutOptions>
        </div>

        <div class="flex justify-content-center">
          <p-button *ngIf="cartlen > 0" label="View Cart" (click)="viewCart() "></p-button>
        </div>
        <!-- <div class="flex justify-content-end">
          <!-- <p-button *ngIf="cartlen > 0" label="View Cart"></p-button> --!>
          <p-dataViewLayoutOptions [layout]="layout"></p-dataViewLayoutOptions>
        </div> -->
      </ng-template>

      <ng-template let-product pTemplate="list" let-products>
        <div class="grid grid-nogutter">
          <div class="col-12" *ngFor="let product of products; let first = first">
            <div class="card">
              <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
                [ngClass]="{ 'border-top-1 surface-border': !first }">
                <!-- <img class="w-9 sm:w-16rem xl:w-5rem shadow-2 block xl:block mx-auto border-round"
                   [alt]="product.productname" /> -->
                <!-- [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" -->
                <div
                  class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                  <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                    <div class="text-2xl font-bold text-900">{{ product.productname }}</div>
                    <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                    <div class="flex align-items-center gap-3">
                      <span class="flex align-items-center gap-2">
                        <p-chip [label]="product.producttype" icon="pi pi-tag"></p-chip>
                        <!-- <i class="pi pi-tag"></i>
                        <span class="font-semibold">{{ product.producttype }}</span> -->
                      </span>
                      <button class="btn-black" (click)="openProductDetails(product)">Farmer Details</button>

                      <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag> -->
                    </div>
                  </div>
                  <div class="flex sm:flex-column align-items-center sm:align-items-center gap-3 sm:gap-2">
                    <span class="text-2xl font-semibold">
                      <p-chip [label]=" 'Qty: ' + product.qty + ' lbs'"></p-chip>
                    </span>

                  </div>
                  <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                    <p-tag severity="success" [rounded]="true">
                      <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                    </p-tag>
                    <button pButton icon="pi pi-shopping-cart" class="md:align-self-end mb-2 p-button-rounded"
                      (click)="onaddcart(product)"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="grid" let-products>
        <div class="grid grid-nogutter">
          <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2" *ngFor="let product of products">
            <div class="p-4 border-1 surface-border surface-card border-round">
              <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                <span class="flex align-items-center gap-2">
                  <p-chip [label]="product.producttype" icon="pi pi-tag"></p-chip>

                  <!-- <i class="pi pi-tag"></i>
                  <span class="font-semibold">{{ product.producttype }}</span> -->
                </span>
                <span class="text-2xl font-semibold">
                  <p-chip [label]=" 'Qty: ' + product.qty + ' lbs'"></p-chip>
                </span>

                <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>/ -->
              </div>
              <div class="flex flex-column align-items-center gap-3 py-5">
                <!-- <img class="w-9 shadow-2 border-round"
                  [alt]="product.productname" /> -->
                <!-- [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" -->
                <div class="text-2xl font-bold">{{ product.productname }}</div>
                <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating> -->
              </div>
              <div class="flex align-items-center justify-content-between">
                <p-tag severity="success" [rounded]="true">
                  <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                </p-tag>
                <button class="btn-black" (click)="openProductDetails(product)">Farmer Details</button>
                <button pButton icon="pi pi-shopping-cart" class="p-button-rounded"
                  (click)="onaddcart(product)"></button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ng-container>
</div>


<div class="card xl:flex xl:justify-content-center" *ngIf="viewcart">
  <button pButton class="md:align-self-end mb-2 p-button-rounded" (click)="onclickback()">Back</button>
  <p-orderList [value]="cartitems" [listStyle]="{ height: '25rem' }" header="Products">
    <ng-template let-product pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ product.productname }}</span>
          <button pButton class="pi pi-trash md:align-self-end mb-2 p-button-rounded"
            (click)="onremoveitem(product)"></button>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-tag text-sm"></i>
            <span>{{ product.producttype }}</span>
          </div>
        </div>
        <span class="font-bold text-900">{{ '$' + product.price }}</span>
      </div>
    </ng-template>
  </p-orderList>
  <button pButton class="md:align-self-end mb-2 p-button-rounded" (click)="placeOrder()">Order</button>
</div>



<div class="card" *ngIf="productItem.productname">
  <p-dialog [visible]="productItem.productname ? true : false">
    <ng-template pTemplate="headless">
      <div class="flex flex-column px-8 py-5 gap-4 modal-open">

        <ng-container>
          <div class="col-12 md:col-6">
            <div class="card">
              <div class="flex">
                <p class="profile-head">Product Name</p>
                <p class="profile-tail">{{productItem?.productname ? productItem?.productname : '&mdash;'}}</p>
              </div>
              <div class="flex">
                <p class="profile-head">Product Type</p>
                <p class="profile-tail">{{productItem?.producttype ? (productItem?.producttype | titlecase) :
                  '&mdash;'}}
                </p>
              </div>
              <div class="flex">
                <p class="profile-head">Quantity</p>
                <p class="profile-tail" style="text-wrap: nowrap">{{productItem?.qty ? productItem?.qty : '&mdash;'}}
                </p>
              </div>
              <div class="flex">
                <p class="profile-head">Price</p>
                <p class="profile-tail">{{productItem?.price ? productItem?.price : '&mdash;'}}</p>
              </div>

              <div class="flex">
                <p class="profile-head">Product Sold By</p>
                <p class="profile-tail" style="text-wrap: nowrap">{{productItem?.userId?.profilename ?
                  (productItem?.userId?.profilename | titlecase) : '&mdash;'}}</p>
              </div>
              <div class="flex">
                <p class="profile-head">Mobile Number</p>
                <p class="profile-tail">{{productItem?.userId?.mobile ? productItem?.userId?.mobile: '&mdash;'}}</p>
              </div>

              <div class="flex">
                <p class="profile-head">State</p>
                <p class="profile-tail">{{productItem?.userId?.state ? (productItem?.userId?.state | titlecase):
                  '&mdash;'}}</p>
              </div>
              <div class="flex">
                <p class="profile-head">Country</p>
                <p class="profile-tail">{{productItem?.userId?.country ? (productItem?.userId?.country | titlecase):
                  '&mdash;'}}</p>
              </div>
              <div class="flex">
                <p class="profile-head">Pincode</p>
                <p class="profile-tail">{{productItem?.userId?.pincode ? productItem?.userId?.pincode : '&mdash;'}}</p>
              </div>
              <div class="flex">
                <p class="profile-head">Land Mark</p>
                <span class="profile-tail" style="text-wrap: nowrap">{{productItem?.userId?.landmark ?
                  (productItem?.userId?.landmark |
                  titlecase): '&mdash;'}}</span>
              </div>
            </div>
          </div>
        </ng-container>


        <div class="flex align-items-center gap-2">
          <button (click)="closeProductDetails()" [text]="true" class="btn-black w-full">Close</button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>
