<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h3 class="navbar-brand cursor-pointer">FarmToTab</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <ng-container *ngIf="profileDetails?.role === 3">
          <li class="nav-item">
            <a class="nav-link" routerLink="/users" [ngClass]="{'current-tab': currentUrl === '/users' }">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [ngClass]="{'current-tab': currentUrl === '/crops' }"
              routerLink="/crops">Crops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/orders"
              [ngClass]="{'current-tab': currentUrl === '/orders' }">Order History</a>
                      
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link"routerLink="/users">Users</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ng-container>

        <!--- USER ROLE -->
        <ng-container *ngIf="profileDetails?.role === 1">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/user-profile"
              [ngClass]="{'current-tab': currentUrl === '/user-profile' }">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'current-tab': currentUrl === '/products' }"
              routerLink="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/orders"
              [ngClass]="{'current-tab': currentUrl === '/orders' }">Order History</a>
          </li>
        </ng-container>

        <!-- <li class="nav-item">
          <!-- <i class="pi pi-user" style="color: #708090"></i> --!>
          <a class="nav-link" (click)="checklogout()" href="#">Logout</a>
          <!-- <i class="pi pi-user" style="font-size: 2.5rem," (click)="checklogout()"></i> --!>
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <button class="btn-black" (click)="checklogout()">Logout</button>
    </div>
  </div>
</nav>
